

.login-form {
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color:  #f08080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
